.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .5rem;
    padding: .5rem;
    width: 20rem;
}
.card img {
    margin: auto;
    min-height: 10rem;
    padding: .1rem;
}