.card {
    align-items: center;
    background-color:rgba(237, 237, 237, 0.326);
    border-radius: 10px;
    display: flex;
    flex: auto;
    flex-direction: column;
    box-shadow: .4rem .4rem .5rem rgb(207, 207, 207);
    margin: 1rem;
}

.card img {
    margin: .1rem;
    min-height: 10rem;
    padding: .1rem;
    width: 20rem;
}

.card button {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    box-shadow: .4rem .4rem .5rem rgb(207, 207, 207);
    color: rgb(0, 0, 0);
    min-width: 8rem;
    max-height: 3rem;
    padding: 0.4rem;
}