.card {
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(3px);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    border-right: 1px solid rgba(255, 255, 255, .2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
    padding: 1rem;
    width: 20rem;
}

.card__image {
    margin: auto;
    min-height: 10rem;
    padding: .1rem;
}

.card__title {
}

.card__subtitle {
    width: 70%;
    text-align: center;
}
