.overlay { 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9); 
    background-size: 40%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    height: 80%;
    justify-content: center;
    left: 10%;
    position: fixed;
    top: 10%;
    width: 80%;
    z-index: 1; 
}