#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* CARD */
.card {
  align-items: center;
  background-color:rgba(237, 237, 237, 0.326);
  border-radius: 10px;
  display: flex;
  flex: auto;
  flex-direction: column;
  box-shadow: .4rem .4rem .5rem rgb(207, 207, 207);
  margin: 1rem;
  padding: 2em;
}
.card button {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  box-shadow: .4rem .4rem .5rem rgb(207, 207, 207);
  color: rgb(0, 0, 0);
  min-width: 8rem;
  max-height: 3rem;
  padding: 0.4rem;
}